psutil
aiofiles
faker
aiohttp_cors
aiohttp
asyncpg
python-resize-image
requests ~= 2.23.0      # 2.23.* --- będzie podbijał te patch-updates, ale już nie minor-updates, ani major-updates
#requests >= 2.24.0     # będzie wymagał conajmniej 2.24.0
prometheus_client # metryki